.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  text-transform: inherit !important;
}

h2 img {
  display: inline-block;
  vertical-align: -32px !important;
  height: 96px;
  /*padding-right: 24px !important;*/
}

h3 img {
  display: inline-block;
  vertical-align: -18px !important;
  height: 48px;
  padding-right: 24px !important;
  line-height: 72px !important;
}

.fragment h3 img {
  vertical-align: middle !important;
}

.current-fragment h3 img {
  height: 72px;
}

.faded {
  color: #999 !important;
}

.faded .current-fragment {
  color: #000 !important;
}

img.simple {
  background: none !important;
  border: none !important;
  box-shadow: none !important;
}

ul.simple {
  margin-left: 0 !important;
  list-style-type: none !important;
}

ul.square {
  list-style-type: square !important;
}

ul > li {
  margin-top: 20px !important;
  margin-bottom: 20px !important;
}